html {
	margin: 0px;

}
body {
	margin: 0px;
	font-family: Rockwell;
}
main {
	width: 50vw;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 25vw;
	margin-left: 25vw;
}

p{
	#font-size: 18px;
	font-weight: lighter;
	margin: .67em;
	margin-right: 0;
	margin-left: 0;
}




h1 {
	margin: 0px;
	margin-bottom: .33em;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .2em;
}
h3, h4, h5, h6 {
	font-weight: lighter;
}

.article {
	padding: 1vw;
	transition: background-color .2s;
}

.article:hover {
	background-color: #EEE;
}
.articlelink{
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	border-color: black;
	border: solid;
}
audio {
	margin: .67em;
	margin-right: 2vw;
	margin-left: 2vw;
}
footer{
	display: block;
	vertical-align: bottom;
	margin-top:20;
	margin-right: 50;
	margin-left: 50;
	text-align: right;
	color:white;
	background: #639;
	padding: 20px;
	box-shadow: 0px 50vh 0px 50vh #639;
}
hr {
	border: 0;
	background-color: #C9F;
	height: .25em;
}

code {
	background: rgba(255,255,255,.75);
	border-radius: 7px;
	padding: .2em;
	padding-right: .67em;
	padding-left: .67em;
	font-size: 15px;
}
form input {
	border-radius: 0px;
	border: none;
	padding: .5em;
}
form {
	margin: 1vw;
}
ul {
	list-style-type: none;
	display: block;
	padding: 0px;
}
li {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
textarea {
	border-radius: 0px;
	border: none;
	padding: .5em;
	resize:none;
	width:inherit;
}
.welcome {
	border: none;
}
iframe {
	margin-left: 2vw;
	margin-right: 2vw;
}

@media only screen and (max-width: 1316px) {
	.socials {
		display: none;
	}
	figure {
		display: none;
	}
	#topnav {
		grid-template-columns: 25vw 25vw 25vw 25vw;
	}
	main {
		margin: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 75vw;
	}
}
@media only screen and (max-width: 768px) {
	.socials {
		display: none;
	}
	figure {
		display: none;
	}
	#topnav {
		display: none;
	}
	main {
		margin: 0px;
		margin-right: 5vw;
		margin-left: 5vw;
		width: 90vw;
	}
}
#flashContent {
	width: 100%;
	height: 100%;
}
#topbar {
	position: sticky;
	background: #639;
	height: 108px;
	margin-top: 0px;
	display: grid;
	grid: 108px / 25vw 50vw 25vw;
	top: 0;
	box-shadow: 0px -20px 20px 15px;
}
.socials {
	display: grid;
	height: inherit;
	grid-template-columns: 6.25vw 6.25vw 6.25vw 6.25vw;
}
.socials a {
	display: block;
	height: 50px;
	margin: auto;
	margin-top: 29px;
	margin-bottom: 29px;
}
img.soc {
	display: block;
	margin: auto;
	width: 50px;
	border: none;
}

nav{
	height: 108px;
}

#topnav{
	padding: 0px;
	margin: 0px;
	margin-top: 38.5px; 
	margin-bottom: 38.5px;
	display: grid;
	grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
}

#topnav a {
	margin-right: auto;
	margin-left: auto;
	font-size: 31px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	transition: color, .2s;
}
#topnav a:hover{
	color: #CCC;
}
#logo{
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 50px;
	text-align: center;
	color: white;
}

figure {
	height: 54px;
	margin: 0px;
	padding-top: 4px;
	font-size: 54px;
	color: white;
	text-align: right;
	margin-right: 35px;
}
